<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prem.android.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.prem.android.popularmovies.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.prem.android.popularmovies.activities.DetailActivity"
            android:label="Movie Details"
            android:parentActivityName="com.prem.android.popularmovies.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>

        <activity android:name="com.prem.android.popularmovies.activities.FavouriteActivity"
            android:label= "Favourite Collections"
            android:parentActivityName="com.prem.android.popularmovies.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.prem.android.popularmovies.activities.MainActivity" />
        </activity>
        
        <-- In order for a content provider to be visible within an Android system, it must be declared 
            within the Android manifest file for the application in which it resides -->
            
            <-- android:authority – The full authority URI of the content provider.
                
                android:name – The name of the class that implements the content provider. 
                In most cases, this will use the same value as the authority. -->

        <provider
            android:name="com.prem.android.popularmovies.data.MovieProvider"
            android:authorities="com.prem.android.popularmovies"
            android:exported="false" />
    </application>

</manifest>
